################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/C#/v16
/PlanoEnsinoAPI/PlanoEnsinoAPI/obj/Release/netcoreapp3.1/PlanoEnsinoAPI.csprojAssemblyReference.cache
